{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  {% if change and original %}
    <div class="submit-row" style="margin-top: 0.75rem;">
      {% if original.status != "approved" %}
        <input type="submit" value="{% trans 'Approve' %}" class="default" name="_approve" />
      {% endif %}
      {% if original.status != "rejected" %}
        <input type="submit" value="{% trans 'Reject…' %}" class="deletelink" name="_reject" />
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

